.character {
  padding: 10% 2%;
  background-color: #9c9c9c;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0,0, 0.8),
    rgba(0, 0, 0, 1)
  );
  color: white;

  &__img {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__descrip {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;

    h4 {
      font-size: 1.5vw;
    }

    h3 {
        font-size: 2vw;
        text-transform: uppercase;
    }

    p {
        font-size: 1.3vw;
    }

    svg {
      font-size: 2vw;
      cursor: pointer;

      &:hover {
        color: rgba(13,110,253, 0.7);

      }
    }
  }
}
