.button {
    background-color: rgba(13,110,253, 0.5);
    padding: 10px 30px;
    color: white;
    border-radius: 10px 0 10px 0;
    backdrop-filter: blur(60px);
    border: none;
    cursor: pointer;
    font-size: 1.3vw;

    &:hover {
      background-color: rgba(13,110,253, 0.7);
    }
}